
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Rubik Spray Paint', cursive;
    width: 100vw;
    height: 100vh;

    background: rgb(190,188,172);
    background: linear-gradient(45deg, rgba(190,188,172,1) 0%, rgba(255,251,219,1) 100%);
}

#root {
    width: 100%;
    height: 100%;
    
    display: flex;
    align-self: start;
    justify-content: center;

}
.App {

    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    
    gap: 1.5rem;

    background-color: #7D7D7D;
    padding: 1.5rem;
    border-radius: .5rem;

    box-shadow: 0 0 1rem black;
}
.sample-grid {

    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 4rem);
    gap: 1.5rem;


    .drum-pad {
        width: 4rem;
        height: 4rem;

        border-radius: .5rem;
        background-color: #BEBCAC;

        text-transform: uppercase;
        text-align: center;
        line-height: 4rem;

        font-size: 2rem;

        box-shadow: 0 0 .2rem black;
    }

}
.drum-pad.active,
.drum-pad:active {
    box-shadow: inset 0 0 1rem black;
}
.controls-container {
    width: 100%;

}


#display {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    text-align: center;
    background-color: #BEBCAC;
    border-radius: .2rem;

    box-shadow: inset 0 0 .2rem black;
}


#display,
.drum-pad {
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;  
 }